    body {
        line-height: 1;
        display: flex;
        font-family: "Robotico", sans-serif;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        box-sizing: border-box;
    }
    
    .converter-widget {
        margin: auto;
        border: 1px solid #dfe6e9;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        background-color: #16b67f;
        text-align: center;
    }
    
    .converter-widget h2 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }
    
    .converter-widget p {
        margin-top: 20px;
        margin-bottom: 20px;
        color: #636e72;
    }
    
    .converter-widget .group {
        margin: auto;
        display: flex;
        border: #fff;
        grid-gap: 20px;
    }
    
    .converter-widget .group .second-input {
        grid-column-start: 3;
        grid-row-start: 2;
    }
    
    .converter-widget .group select {
        font-size: 1rem;
        border-radius: 15px;
        border: 1px solid #b2bec3;
        width: 100%;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }
    
    .converter-widget .group input {
        font-size: 1.5rem;
        border-radius: 15px;
        border: 1px solid #b2bec3;
        width: 100%;
        padding: 10px;
        text-align: center;
        cursor: text;
    }
    
    .converter-widget .curr_center {
        margin: 0;
        padding: 0;
    }
    
    .converter-widget .change-select {
        margin-top: 10px;
    }
    
    .converter-widget .change-select:hover {
        cursor: pointer;
        color: #fff;
    }
    
    .converter-widget .change-select:active {
        transform: rotate(-180deg);
        transition: 0.3s;
    }